<div class="row">
    <div class="col-md-12">
        <app-nav></app-nav>
    </div>
</div>

<div class="container">
    <div class="container" id="main-container">
        <h1>Variant API</h1>

        <p>
            <button type="button" data-toggle="collapse" (click)="onOpenModal(null!!,'add')">+ Tambah Data Variant</button>
        </p>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Variant Code</th>
                            <th scope="col">Variant Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cat of variant">
                            <td>{{cat.variantCode }}</td>
                            <td>{{ cat.variantName }}</td>
                            <td>
                                <button type="button" 
                                class="btn btn-success">
                                    <i class="fas fa-edit" (click)="onOpenModal(cat,'edit')"></i>
                                </button>
                                <button type="button" 
                                class="btn btn-danger">
                                    <i class="far fa-trash-alt" (click)="onOpenModal(cat,'delete')"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal tambah variant -->
    <div class="modal fade" id="addVariantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tambahkan Variant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddVariant(addForm)">
                <div class="form-group">
                    <label for="variantcode">Variant Code</label>
                    <input type="text" ngModel name="variantCode"
                    class="form-control" id="variantCode"
                    placeholder="Variant Code" required>
                </div>
                <div class="form-group">
                    <label for="variantname">Variant Name</label>
                    <input type="text" ngModel name="variantName"
                    class="form-control" id="variantName"
                    placeholder="Variant Name" required>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add-variant-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Simpan Data</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal edit variant -->
    <div class="modal fade" id="editVariantModal" tabindex="-1" 
    role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Variant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #editForm="ngForm">
                <input type="hidden" ngModel="{{editVariant?.id}}" name="id" 
                class="form-control" id="id">
               
                <div class="form-group">
                    <label for="variantcode">Variant Code</label>
                    <input type="text" ngModel="{{editVariant?.variantCode}}" 
                    name="variantCode"
                    class="form-control" id="variantCode"
                    placeholder="Variant Code" required>
                </div>
                <div class="form-group">
                    <label for="variantname">Variant Name</label>
                    <input type="text" ngModel="{{editVariant?.variantName}}" 
                    name="variantName"
                    class="form-control" id="variantName"
                    placeholder="Variant Name" required>
                </div>
                <div class="modal-footer">
                    <button type="button" id="" class="btn btn-secondary" 
                    data-dismiss="modal">Close</button>
                    <button (click)="onEditVariant(editForm.value)" 
                    data-dismiss="modal" type="button" class="btn btn-primary">Edit Data</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>

      <!-- Modal delete variant -->
    <div class="modal fade" id="deleteVariantModal" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Hapus Variant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Anda yakin ingin menghapus data {{deleteVariant.variantName}}</p>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-secondary" 
                data-dismiss="modal">No</button>
                <button class="btn btn-danger" 
                data-dismiss="modal" (click)="onDeleteVariant(deleteVariant.id)">Yes</button>
            </div>
          </div>
        </div>
      </div>
</div>