<div class="container">
    <div class="row content">
        <div class="col md-6 mb-3">
            <img src="../../../assets/svg/login.svg" class="img-fluid" alt="image">
        </div>

        <div class="col-md-6">
            <h3 class="signin-text mb-3">Sign In</h3>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" [(ngModel)] = "user.username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control"[(ngModel)] = "user.password">
                </div>
                <button class="btn btn-class" (click)="login()">Login</button>
                <button class="btn btn-class" (click)="register()">Register </button>
            </form>
        </div>

    </div>
</div>
