<div class="container">
    <div class="row content">
        <div class="col md-6 mb-3">
            <img src="../../../assets/svg/login.svg" class="img-fluid" alt="image">
        </div>

        <div class="col-md-6">
            <h3 class="signin-text mb-3">Sign Up</h3>
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" [(ngModel)] = "register.username">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" [(ngModel)] = "register.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control"[(ngModel)] = "register.password">
                </div>
                <!-- <div class="form-group">
                    <label for="role">Role</label>
                    <input type="text" name="role" class="form-control" [(ngModel)] = "register.role">
                </div> -->
                <button class="btn btn-class" (click)="signup()">Register</button>
                <button class="btn btn-class" (click)="loginnow()">Login</button>
               
            </form>
        </div>

    </div>
</div>

